* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}

button {
	outline: none;
}

input {
	outline: none;
}


textarea {
	resize: none;
	outline: none;
}