* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*overflow: hidden;*/
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flexaligncenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
