

html {
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-weight: 600;
}

.text_size {
	font-size: 1rem;
}

#app {
	position: relative;
}

#main_place {
	width: 100%;
	border-bottom: 1px solid #dbbcbc;
	/*position: absolute; */
}
#main_place:after {
	content: '';
	display: block;
	clear: both;
}
.nav_item {
	display: flex;
	justify-content: center;
	margin: .4rem;
}


.item_gc {
	margin-right: 1rem;
	color: 	#B8B8B8;
}

.item_gz {
	margin-left: 1rem;
	color: 	#B8B8B8;
}

.cur {
	color: #000;
	padding-bottom: .2rem;
	border-bottom: 1px solid gray;
}

#headwrapper {
	display: flex;
	justify-content: space-between;
	margin-top: .5rem;
}

#user_mess {
	margin-left: 1rem;
}

.header_item {
	width: 2rem;
}

.header_item img{
	width: 100%;
}


#user_mess {
	width: 2rem;
	margin:  0 0 0 .5rem; 
	display: block;
}


.refreshText{
	float: left;
    /* position: absolute; */
    width: 100%;
    line-height: 50px;
    text-align: center;
    left: 0;
    top: 0;
}

.main_content_item {
	/*width: 98%;*/
	padding: 1rem;
	margin: 1rem auto 0 auto;
	border-radius: 1rem;
	box-shadow: .1rem .1rem .7rem #888888;
	opacity: .8;
}

.cp_wrapper {
	padding: 0px;
	border : 0px;
}