

#reply_content {
	width: 100%;
	height: 10rem;
	/*border: 1px solid black;*/
	margin-top: 2rem；
}

#header_wrapper {
	display: flex;;
	justify-content: space-between;
	margin-bottom: 1rem;
}


#send_reply {
	margin-right: .5rem;
    width: 4rem;
    background-color: skyblue;
}