<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiyou.dao.ContentMapper" >
  <resultMap id="BaseResultMap" type="com.xiyou.pojo.Content" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="message_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content_text" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content_images" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content_videos" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, message_id, content_text, content_images, content_videos
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiyou.pojo.Content" >
    insert into message_content (id, message_id, content_text, 
      content_images, content_videos)
    values (#{id,jdbcType=INTEGER}, #{messageId,jdbcType=INTEGER}, #{contentText,jdbcType=VARCHAR}, 
      #{contentImages,jdbcType=VARCHAR}, #{contentVideos,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiyou.pojo.Content" >
    insert into message_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="contentText != null" >
        content_text,
      </if>
      <if test="contentImages != null" >
        content_images,
      </if>
      <if test="contentVideos != null" >
        content_videos,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="contentText != null" >
        #{contentText,jdbcType=VARCHAR},
      </if>
      <if test="contentImages != null" >
        #{contentImages,jdbcType=VARCHAR},
      </if>
      <if test="contentVideos != null" >
        #{contentVideos,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiyou.pojo.Content" >
    update message_content
    <set >
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=INTEGER},
      </if>
      <if test="contentText != null" >
        content_text = #{contentText,jdbcType=VARCHAR},
      </if>
      <if test="contentImages != null" >
        content_images = #{contentImages,jdbcType=VARCHAR},
      </if>
      <if test="contentVideos != null" >
        content_videos = #{contentVideos,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiyou.pojo.Content" >
    update message_content
    set message_id = #{messageId,jdbcType=INTEGER},
      content_text = #{contentText,jdbcType=VARCHAR},
      content_images = #{contentImages,jdbcType=VARCHAR},
      content_videos = #{contentVideos,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByMessageId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from message_content
    where message_id = #{messageId}

  </select>
</mapper>