<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiyou.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.xiyou.pojo.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="head_sculpture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="signature" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="message_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fans" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="concern" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="read_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="student_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>


  <resultMap id="map1" type="com.xiyou.pojo.User">

    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="head_sculpture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="signature" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="message_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fans" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="concern" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="read_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="student_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
    <!--不同mapper文件中的resultMap可以互相引用-->
    <collection property="messages" ofType="com.xiyou.pojo.Message" >
      <id column="mid" property="id"/>
      <result column="user_id" property="userId"/>
      <result column="pageviews" property="pageviews"/>
      <result column="praise_points" property="praisePoints"/>
      <result column="comment_count" property="commentCount"/>
      <result column="time" property="time"/>
      <result column="is_deleted" property="isDeleted"/>

      <!--    一对一配置文件   -->
      <association property="content" javaType="com.xiyou.pojo.Content">
        <id column="id" property="id"></id>
        <result column="message_id" property="messageId"></result>
        <result column="content_text" property="contentText"></result>
        <result column="content_images" property="contentImages"></result>
        <result column="content_videos" property="contentVideos"></result>
      </association>
    </collection>

  </resultMap>


  <sql id="Base_Column_List" >
    id, username, head_sculpture, signature, message_count, fans, concern, read_count, 
    student_id
  </sql>

  <sql id="Base_Column_List1">
    u.id,u.username, u.head_sculpture, u.signature,
    u. message_count,u. fans, u.concern, u.read_count,u.student_id
  </sql>

  <sql id="Base_Column_List2" >
   m.id as mid, m.user_id,m.pageviews,m.praise_points, m.comment_count, m.time,m.is_deleted
  </sql>

  <sql id="Base_Column_List3" >
  c.id,c.message_id,c.content_text,c.content_images,c.content_videos
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xiyou_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xiyou_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiyou.pojo.User" >
    insert into xiyou_user (id, username, head_sculpture, 
      signature, message_count, fans, 
      concern, read_count, student_id
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{headSculpture,jdbcType=VARCHAR}, 
      #{signature,jdbcType=VARCHAR}, #{messageCount,jdbcType=INTEGER}, #{fans,jdbcType=INTEGER}, 
      #{concern,jdbcType=INTEGER}, #{readCount,jdbcType=INTEGER}, #{studentId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiyou.pojo.User" >
    insert into xiyou_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="headSculpture != null" >
        head_sculpture,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="messageCount != null" >
        message_count,
      </if>
      <if test="fans != null" >
        fans,
      </if>
      <if test="concern != null" >
        concern,
      </if>
      <if test="readCount != null" >
        read_count,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="headSculpture != null" >
        #{headSculpture,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="messageCount != null" >
        #{messageCount,jdbcType=INTEGER},
      </if>
      <if test="fans != null" >
        #{fans,jdbcType=INTEGER},
      </if>
      <if test="concern != null" >
        #{concern,jdbcType=INTEGER},
      </if>
      <if test="readCount != null" >
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiyou.pojo.User" >
    update xiyou_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="headSculpture != null" >
        head_sculpture = #{headSculpture,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="messageCount != null" >
        message_count = #{messageCount,jdbcType=INTEGER},
      </if>
      <if test="fans != null" >
        fans = #{fans,jdbcType=INTEGER},
      </if>
      <if test="concern != null" >
        concern = #{concern,jdbcType=INTEGER},
      </if>
      <if test="readCount != null" >
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiyou.pojo.User" >
    update xiyou_user
    set username = #{username,jdbcType=VARCHAR},
      head_sculpture = #{headSculpture,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      message_count = #{messageCount,jdbcType=INTEGER},
      fans = #{fans,jdbcType=INTEGER},
      concern = #{concern,jdbcType=INTEGER},
      read_count = #{readCount,jdbcType=INTEGER},
      student_id = #{studentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByStudentId" parameterType="string" resultType="int">
     select count(1) from xiyou_user
     where student_id = #{studentId}
  </select>

  <select id="checkLogin" parameterType="string" resultMap="BaseResultMap">
     select
     <include refid="Base_Column_List"/>
     from xiyou_user
     where
     student_id = #{studentId}
  </select>

  <!--  todo:这里很可能会报错  -->
  <select id="selectAllInfoByStudyId" parameterType="string" resultMap="map1">
    select
    <include refid="Base_Column_List1"/>,
    <include refid="Base_Column_List2"/>,
    <include refid="Base_Column_List3"/>
    from xiyou_user u
    left outer join user_message m on u.id = m.user_id
    left outer join message_content c on m.id = c.message_id
    where u.student_id = #{studentId}
    and m.is_deleted != 0
  </select>
</mapper>