
html, body, #app {
    height: 100%;
}
#app {
	height: 100%;
	position: relative;
}
.head_message {
	height: 3rem;
	line-height: 3rem;
	display: flex;
	margin: 0px;
	justify-content: space-between;
	border-bottom: .1px solid gray;
	background-color: #f2f2f2;
	opacity: 0.8;
}

#return_btn {
	width: 2rem;
	margin-left: 10px;
}

#send_btn {
	width: 3.5rem;
	height: 36px;
    line-height: 36px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: .75rem;
    margin-right: 1.001rem;
    text-align: center;	
    font-weight: 300;
    color: #fff;
    background-color: #1b9af4;
}

#send_btn:active {
	background-color: #0890f1;
}

span textarea {

	font-family: sans-serif;
    margin-top: .65625rem;
    color: #333;
    background-color: transparent;
    outline: 0;
    border: none;
    font-size: 1rem;
    resize: none;
    width: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none!important;
}


#footer_wrapper {
	width: 100%;
	height: 6rem;
	position: absolute;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
}

#choose_open {
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: space-around;
	line-height: 3rem;
}

.text_style {
	text-align: center;
}
.choose_open_tag {
	width: 65px;
    height: 46px;
    border-radius: 15px;
}

.is_choose {
	background-color: #1b9af4;
	color: #fff;
}


.add_imgs {
	width: 2rem;
	margin-left: 2rem;
}


#add_photo_wrapper label {
	
}

#add_photo_mem_wrapper {
	display: flex;
	justify-content: flex-start;
	position: relative;
}

#add_photo_wrapper input[type=file] {
	color: #418b40;
    font-size: 50px;
    opacity: 0.0;
    width: 10%;
    height: 100%;
    position: absolute;
	top: 0px;
	margin-left: 1.8rem;
}


#photos_show {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#photos_show .photo_item {
	object-fit: cover;
	border: 1px solid gray;
	border-style: dotted;
	box-sizing: border-box;
	line-height: 100%;
}