
.head_message {
	height: 3rem;
	line-height: 3rem;
	display: flex;
	margin: 0px;
	justify-content: space-between;
	border-bottom: .1px solid gray;
	background-color: #f2f2f2;
	opacity: 0.8;
}

#return_btn {
	width: 2rem;
	margin-left: 10px;
}

#send_btn {
	width: 3.5rem;
	height: 36px;
    line-height: 36px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: .75rem;
    margin-right: 1.001rem;
    text-align: center;	
    font-weight: 300;
    color: #fff;
    background-color: #1b9af4;
}

#send_btn:active {
	background-color: #0890f1;
}

#img_wrapper {
	width: 100%;
	margin-bottom: 2rem;
}



.img_style {
	display: block;
}
#img_wrapper img {
	width: 6rem;
	height: 6rem;
	margin: 2rem auto;
	border-radius: 50%;
}

#img_wrapper button {
	width: 5rem;
	height: 2rem;
	margin: 1rem auto;
}

#user_name {
	width:80%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}
#user_name input {
	font-size: 1.5rem;
}
#user_name_text {
	border-bottom: 2px solid #CBC5BF;
}

#user_sign {
	width:80%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5rem;
}

#user_sign_text {
	width: 70%;
	height: 2rem;
	font-size: 1.2rem;
	margin-top: 1rem;
	border-bottom: 2px solid #CBC5BF;
}
